# Ignore Everything
*

#### Except these files ####

# Base
!/.gitignore
!/.gitattributes
!/.editorconfig
!/README.md
!/LICENSE
!/*compose.yaml
!/composer_install.sh
!/backup.mysql

# Dev
!dev
!dev/nginx-conf
!dev/nginx-conf/*
!dev/web
#!dev/web/modules
!dev/web/modules/custom
!dev/web/modules/custom/**
!dev/web
!dev/web/themes
!dev/web/themes/contrib
!dev/web/themes/contrib/**
!dev/web/sites
!dev/web/sites/default
!dev/web/sites/default/files
!dev/web/sites/default/files/*
!dev/web/sites/default/files/translation
!dev/web/sites/default/files/translation/*
!dev/solr
!dev/solr/**/*
dev/solr/**/*log*/**/*
dev/solr/data/*/data